In [32]:
import pandas as pd
import numpy as np

## Load Data

In [78]:
df = pd.read_csv('my_data/data/humob/training_set.csv')

df.head()

   uid  d   t    x    y
0   16  0   7   99  100
1   16  0   9   99  104
2   16  0  10  104  118
3   16  0  11  166  135
4   16  0  12  162  172

In [79]:
df['categorical_id'] = df['uid']

## Timestamp Building

In [80]:
# 使用参考日期
reference_date = pd.Timestamp("2023-01-01")

# 将“d”和“t”转化为时间戳
df["timestamp"] = reference_date + pd.to_timedelta(df["d"], unit='D') + pd.to_timedelta(df["t"]/2, unit='h')

df.head()

   uid  d   t    x    y  categorical_id           timestamp
0   16  0   7   99  100              16 2023-01-01 03:30:00
1   16  0   9   99  104              16 2023-01-01 04:30:00
2   16  0  10  104  118              16 2023-01-01 05:00:00
3   16  0  11  166  135              16 2023-01-01 05:30:00
4   16  0  12  162  172              16 2023-01-01 06:00:00

## LocationID

In [81]:
# Calculate the unique identifier for each pair of (x, y)
df['location_id'] = (
    df['x'] - df['x'].min()) * (
    df['y'].max() - df['y'].min() + 1) + (
    df['y'] - df['y'].min()
    )+ 1

df.head()

   uid  d   t    x    y  categorical_id           timestamp  location_id
0   16  0   7   99  100              16 2023-01-01 03:30:00        15890
1   16  0   9   99  104              16 2023-01-01 04:30:00        15894
2   16  0  10  104  118              16 2023-01-01 05:00:00        16883
3   16  0  11  166  135              16 2023-01-01 05:30:00        28990
4   16  0  12  162  172              16 2023-01-01 06:00:00        28247

In [82]:
# Generating the full dataframe
unique_uids = df['uid'].unique()
days = range(75)
times = range(48)

index = pd.MultiIndex.from_product([unique_uids, days, times], names=['uid', 'd', 't'])
df_filled = pd.DataFrame(index=index).reset_index()

# Merging with the original dataframe
df_filled = df_filled.merge(df, on=['uid', 'd', 't'], how='left')

# Filling the timestamp and categorical_id columns
df_filled['timestamp'] = pd.to_datetime('2023-01-01') + pd.to_timedelta(df_filled['d'], unit='D') + pd.to_timedelta(df_filled['t']*30, unit='m')
df_filled['categorical_id'] = df_filled['uid']

df_filled.head(10)

   uid  d  t     x      y  categorical_id           timestamp  location_id
0   16  0  0   NaN    NaN              16 2023-01-01 00:00:00          NaN
1   16  0  1   NaN    NaN              16 2023-01-01 00:30:00          NaN
2   16  0  2   NaN    NaN              16 2023-01-01 01:00:00          NaN
3   16  0  3   NaN    NaN              16 2023-01-01 01:30:00          NaN
4   16  0  4   NaN    NaN              16 2023-01-01 02:00:00          NaN
5   16  0  5   NaN    NaN              16 2023-01-01 02:30:00          NaN
6   16  0  6   NaN    NaN              16 2023-01-01 03:00:00          NaN
7   16  0  7  99.0  100.0              16 2023-01-01 03:30:00      15890.0
8   16  0  8   NaN    NaN              16 2023-01-01 04:00:00          NaN
9   16  0  9  99.0  104.0              16 2023-01-01 04:30:00      15894.0

## Filling Empty Time Points

In [85]:
# Create a copy of the data to avoid modifying the original dataframe
df_sample_reset = df_filled.copy()

df_sorted = df_sample_reset.sort_values(by=['uid', 'd', 't']).reset_index(drop=True)

# Define a function to fill the NA values for each uid and d combination
def fill_values_for_group(group):
    # Scenario 1: Fill NA values between two non-NA t values with forward fill
    group[['x', 'y', 'location_id']] = group[['x', 'y', 'location_id']].ffill()

    # Scenario 2 and 3: Fill NA values before or after a non-NA t value with backward fill
    group[['x', 'y', 'location_id']] = group[['x', 'y', 'location_id']].bfill()

    return group

# Apply the function to each uid and d combination
df_filled_correctly = df_sorted.groupby(['uid', 'd']).apply(fill_values_for_group).reset_index(drop=True)

df_filled_correctly.head(10)

   uid  d  t     x      y  categorical_id           timestamp  location_id
0   16  0  0  99.0  100.0              16 2023-01-01 00:00:00      15890.0
1   16  0  1  99.0  100.0              16 2023-01-01 00:30:00      15890.0
2   16  0  2  99.0  100.0              16 2023-01-01 01:00:00      15890.0
3   16  0  3  99.0  100.0              16 2023-01-01 01:30:00      15890.0
4   16  0  4  99.0  100.0              16 2023-01-01 02:00:00      15890.0
5   16  0  5  99.0  100.0              16 2023-01-01 02:30:00      15890.0
6   16  0  6  99.0  100.0              16 2023-01-01 03:00:00      15890.0
7   16  0  7  99.0  100.0              16 2023-01-01 03:30:00      15890.0
8   16  0  8  99.0  100.0              16 2023-01-01 04:00:00      15890.0
9   16  0  9  99.0  104.0              16 2023-01-01 04:30:00      15894.0

### Result Checking

In [86]:
grouped = df_filled_correctly.groupby(['uid', 'd']).size().reset_index(name='count')

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

print(grouped)

     uid   d  count
0     16   0     48
1     16   1     48
2     16   2     48
3     16   3     48
4     16   4     48
5     16   5     48
6     16   6     48
7     16   7     48
8     16   8     48
9     16   9     48
10    16  10     48
11    16  11     48
12    16  12     48
13    16  13     48
14    16  14     48
15    16  15     48
16    16  16     48
17    16  17     48
18    16  18     48
19    16  19     48
20    16  20     48
21    16  21     48
22    16  22     48
23    16  23     48
24    16  24     48
25    16  25     48
26    16  26     48
27    16  27     48
28    16  28     48
29    16  29     48
30    16  30     48
31    16  31     48
32    16  32     48
33    16  33     48
34    16  34     48
35    16  35     48
36    16  36     48
37    16  37     48
38    16  38     48
39    16  39     48
40    16  40     48
41    16  41     48
42    16  42     48
43    16  43     48
44    16  44     48
45    16  45     48
46    16  46     48
47    16  47     48
48    16  48     48
49    16  49     48
50    16  50     48
51    16  51     48
52    16  52     48
53    16  53     48
54    16  54     48
55    16  55     48
56    16  56     48
57    16  57     48
58    16  58     48
59    16  59     48
60    16  60     48
61    16  61     48
62    16  62     48
63    16  63     48
64    16  64     48
65    16  65     48
66    16  66     48
67    16  67     48
68    16  68     48
69    16  69     48
70    16  70     48
71    16  71     48
72    16  72     48
73    16  73     48
74    16  74     48
75    17   0     48
76    17   1     48
77    17   2     48
78    17   3     48
79    17   4     48
80    17   5     48
81    17   6     48
82    17   7     48
83    17   8     48
84    17   9     48
85    17  10     48
86    17  11     48
87    17  12     48
88    17  13     48
89    17  14     48
90    17  15     48
91    17  16     48
92    17  17     48
93    17  18     48
94    17  19     48
95    17  20     48
96    17  21     48
97    17  22     48
98    17  23     48
99    17  24     48
100   17  25     48
101   17  26     48
102   17  27     48
103   17  28     48
104   17  29     48
105   17  30     48
106   17  31     48
107   17  32     48
108   17  33     48
109   17  34     48
110   17  35     48
111   17  36     48
112   17  37     48
113   17  38     48
114   17  39     48
115   17  40     48
116   17  41     48
117   17  42     48
118   17  43     48
119   17  44     48
120   17  45     48
121   17  46     48
122   17  47     48
123   17  48     48
124   17  49     48
125   17  50     48
126   17  51     48
127   17  52     48
128   17  53     48
129   17  54     48
130   17  55     48
131   17  56     48
132   17  57     48
133   17  58     48
134   17  59     48
135   17  60     48
136   17  61     48
137   17  62     48
138   17  63     48
139   17  64     48
140   17  65     48
141   17  66     48
142   17  67     48
143   17  68     48
144   17  69     48
145   17  70     48
146   17  71     48
147   17  72     48
148   17  73     48
149   17  74     48
150   18   0     48
151   18   1     48
152   18   2     48
153   18   3     48
154   18   4     48
155   18   5     48
156   18   6     48
157   18   7     48
158   18   8     48
159   18   9     48
160   18  10     48
161   18  11     48
162   18  12     48
163   18  13     48
164   18  14     48
165   18  15     48
166   18  16     48
167   18  17     48
168   18  18     48
169   18  19     48
170   18  20     48
171   18  21     48
172   18  22     48
173   18  23     48
174   18  24     48
175   18  25     48
176   18  26     48
177   18  27     48
178   18  28     48
179   18  29     48
180   18  30     48
181   18  31     48
182   18  32     48
183   18  33     48
184   18  34     48
185   18  35     48
186   18  36     48
187   18  37     48
188   18  38     48
189   18  39     48
190   18  40     48
191   18  41     48
192   18  42     48
193   18  43     48
194   18  44     48
195   18  45     48
196   18  46     48
197   18  47     48
198   18  48     48
199   18  49     48
200   18  50     48
201   18  51     48
202   18  52     48
203   18  53     48
204   18  54     48
205   18  55     48
206   18  56     48
207   18  57     48
208   18  58     48
209   18  59     48
210   18  60     48
211   18  61     48
212   18  62     48
213   18  63     48
214   18  64     48
215   18  65     48
216   18  66     48
217   18  67     48
218   18  68     48
219   18  69     48
220   18  70     48
221   18  71     48
222   18  72     48
223   18  73     48
224   18  74     48
225   19   0     48
226   19   1     48
227   19   2     48
228   19   3     48
229   19   4     48
230   19   5     48
231   19   6     48
232   19   7     48
233   19   8     48
234   19   9     48
235   19  10     48
236   19  11     48
237   19  12     48
238   19  13     48
239   19  14     48
240   19  15     48
241   19  16     48
242   19  17     48
243   19  18     48
244   19  19     48
245   19  20     48
246   19  21     48
247   19  22     48
248   19  23     48
249   19  24     48
250   19  25     48
251   19  26     48
252   19  27     48
253   19  28     48
254   19  29     48
255   19  30     48
256   19  31     48
257   19  32     48
258   19  33     48
259   19  34     48
260   19  35     48
261   19  36     48
262   19  37     48
263   19  38     48
264   19  39     48
265   19  40     48
266   19  41     48
267   19  42     48
268   19  43     48
269   19  44     48
270   19  45     48
271   19  46     48
272   19  47     48
273   19  48     48
274   19  49     48
275   19  50     48
276   19  51     48
277   19  52     48
278   19  53     48
279   19  54     48
280   19  55     48
281   19  56     48
282   19  57     48
283   19  58     48
284   19  59     48
285   19  60     48
286   19  61     48
287   19  62     48
288   19  63     48
289   19  64     48
290   19  65     48
291   19  66     48
292   19  67     48
293   19  68     48
294   19  69     48
295   19  70     48
296   19  71     48
297   19  72     48
298   19  73     48
299   19  74     48
300   20   0     48
301   20   1     48
302   20   2     48
303   20   3     48
304   20   4     48
305   20   5     48
306   20   6     48
307   20   7     48
308   20   8     48
309   20   9     48
310   20  10     48
311   20  11     48
312   20  12     48
313   20  13     48
314   20  14     48
315   20  15     48
316   20  16     48
317   20  17     48
318   20  18     48
319   20  19     48
320   20  20     48
321   20  21     48
322   20  22     48
323   20  23     48
324   20  24     48
325   20  25     48
326   20  26     48
327   20  27     48
328   20  28     48
329   20  29     48
330   20  30     48
331   20  31     48
332   20  32     48
333   20  33     48
334   20  34     48
335   20  35     48
336   20  36     48
337   20  37     48
338   20  38     48
339   20  39     48
340   20  40     48
341   20  41     48
342   20  42     48
343   20  43     48
344   20  44     48
345   20  45     48
346   20  46     48
347   20  47     48
348   20  48     48
349   20  49     48
350   20  50     48
351   20  51     48
352   20  52     48
353   20  53     48
354   20  54     48
355   20  55     48
356   20  56     48
357   20  57     48
358   20  58     48
359   20  59     48
360   20  60     48
361   20  61     48
362   20  62     48
363   20  63     48
364   20  64     48
365   20  65     48
366   20  66     48
367   20  67     48
368   20  68     48
369   20  69     48
370   20  70     48
371   20  71     48
372   20  72     48
373   20  73     48
374   20  74     48
375   21   0     48
376   21   1     48
377   21   2     48
378   21   3     48
379   21   4     48
380   21   5     48
381   21   6     48
382   21   7     48
383   21   8     48
384   21   9     48
385   21  10     48
386   21  11     48
387   21  12     48
388   21  13     48
389   21  14     48
390   21  15     48
391   21  16     48
392   21  17     48
393   21  18     48
394   21  19     48
395   21  20     48
396   21  21     48
397   21  22     48
398   21  23     48
399   21  24     48
400   21  25     48
401   21  26     48
402   21  27     48
403   21  28     48
404   21  29     48
405   21  30     48
406   21  31     48
407   21  32     48
408   21  33     48
409   21  34     48
410   21  35     48
411   21  36     48
412   21  37     48
413   21  38     48
414   21  39     48
415   21  40     48
416   21  41     48
417   21  42     48
418   21  43     48
419   21  44     48
420   21  45     48
421   21  46     48
422   21  47     48
423   21  48     48
424   21  49     48
425   21  50     48
426   21  51     48
427   21  52     48
428   21  53     48
429   21  54     48
430   21  55     48
431   21  56     48
432   21  57     48
433   21  58     48
434   21  59     48
435   21  60     48
436   21  61     48
437   21  62     48
438   21  63     48
439   21  64     48
440   21  65     48
441   21  66     48
442   21  67     48
443   21  68     48
444   21  69     48
445   21  70     48
446   21  71     48
447   21  72     48
448   21  73     48
449   21  74     48
450   22   0     48
451   22   1     48
452   22   2     48
453   22   3     48
454   22   4     48
455   22   5     48
456   22   6     48
457   22   7     48
458   22   8     48
459   22   9     48
460   22  10     48
461   22  11     48
462   22  12     48
463   22  13     48
464   22  14     48
465   22  15     48
466   22  16     48
467   22  17     48
468   22  18     48
469   22  19     48
470   22  20     48
471   22  21     48
472   22  22     48
473   22  23     48
474   22  24     48
475   22  25     48
476   22  26     48
477   22  27     48
478   22  28     48
479   22  29     48
480   22  30     48
481   22  31     48
482   22  32     48
483   22  33     48
484   22  34     48
485   22  35     48
486   22  36     48
487   22  37     48
488   22  38     48
489   22  39     48
490   22  40     48
491   22  41     48
492   22  42     48
493   22  43     48
494   22  44     48
495   22  45     48
496   22  46     48
497   22  47     48
498   22  48     48
499   22  49     48
500   22  50     48
501   22  51     48
502   22  52     48
503   22  53     48
504   22  54     48
505   22  55     48
506   22  56     48
507   22  57     48
508   22  58     48
509   22  59     48
510   22  60     48
511   22  61     48
512   22  62     48
513   22  63     48
514   22  64     48
515   22  65     48
516   22  66     48
517   22  67     48
518   22  68     48
519   22  69     48
520   22  70     48
521   22  71     48
522   22  72     48
523   22  73     48
524   22  74     48
525   23   0     48
526   23   1     48
527   23   2     48
528   23   3     48
529   23   4     48
530   23   5     48
531   23   6     48
532   23   7     48
533   23   8     48
534   23   9     48
535   23  10     48
536   23  11     48
537   23  12     48
538   23  13     48
539   23  14     48
540   23  15     48
541   23  16     48
542   23  17     48
543   23  18     48
544   23  19     48
545   23  20     48
546   23  21     48
547   23  22     48
548   23  23     48
549   23  24     48
550   23  25     48
551   23  26     48
552   23  27     48
553   23  28     48
554   23  29     48
555   23  30     48
556   23  31     48
557   23  32     48
558   23  33     48
559   23  34     48
560   23  35     48
561   23  36     48
562   23  37     48
563   23  38     48
564   23  39     48
565   23  40     48
566   23  41     48
567   23  42     48
568   23  43     48
569   23  44     48
570   23  45     48
571   23  46     48
572   23  47     48
573   23  48     48
574   23  49     48
575   23  50     48
576   23  51     48
577   23  52     48
578   23  53     48
579   23  54     48
580   23  55     48
581   23  56     48
582   23  57     48
583   23  58     48
584   23  59     48
585   23  60     48
586   23  61     48
587   23  62     48
588   23  63     48
589   23  64     48
590   23  65     48
591   23  66     48
592   23  67     48
593   23  68     48
594   23  69     48
595   23  70     48
596   23  71     48
597   23  72     48
598   23  73     48
599   23  74     48
600   24   0     48
601   24   1     48
602   24   2     48
603   24   3     48
604   24   4     48
605   24   5     48
606   24   6     48
607   24   7     48
608   24   8     48
609   24   9     48
610   24  10     48
611   24  11     48
612   24  12     48
613   24  13     48
614   24  14     48
615   24  15     48
616   24  16     48
617   24  17     48
618   24  18     48
619   24  19     48
620   24  20     48
621   24  21     48
622   24  22     48
623   24  23     48
624   24  24     48
625   24  25     48
626   24  26     48
627   24  27     48
628   24  28     48
629   24  29     48
630   24  30     48
631   24  31     48
632   24  32     48
633   24  33     48
634   24  34     48
635   24  35     48
636   24  36     48
637   24  37     48
638   24  38     48
639   24  39     48
640   24  40     48
641   24  41     48
642   24  42     48
643   24  43     48
644   24  44     48
645   24  45     48
646   24  46     48
647   24  47     48
648   24  48     48
649   24  49     48
650   24  50     48
651   24  51     48
652   24  52     48
653   24  53     48
654   24  54     48
655   24  55     48
656   24  56     48
657   24  57     48
658   24  58     48
659   24  59     48
660   24  60     48
661   24  61     48
662   24  62     48
663   24  63     48
664   24  64     48
665   24  65     48
666   24  66     48
667   24  67     48
668   24  68     48
669   24  69     48
670   24  70     48
671   24  71     48
672   24  72     48
673   24  73     48
674   24  74     48
675   25   0     48
676   25   1     48
677   25   2     48
678   25   3     48
679   25   4     48
680   25   5     48
681   25   6     48
682   25   7     48
683   25   8     48
684   25   9     48
685   25  10     48
686   25  11     48
687   25  12     48
688   25  13     48
689   25  14     48
690   25  15     48
691   25  16     48
692   25  17     48
693   25  18     48
694   25  19     48
695   25  20     48
696   25  21     48
697   25  22     48
698   25  23     48
699   25  24     48
700   25  25     48
701   25  26     48
702   25  27     48
703   25  28     48
704   25  29     48
705   25  30     48
706   25  31     48
707   25  32     48
708   25  33     48
709   25  34     48
710   25  35     48
711   25  36     48
712   25  37     48
713   25  38     48
714   25  39     48
715   25  40     48
716   25  41     48
717   25  42     48
718   25  43     48
719   25  44     48
720   25  45     48
721   25  46     48
722   25  47     48
723   25  48     48
724   25  49     48
725   25  50     48
726   25  51     48
727   25  52     48
728   25  53     48
729   25  54     48
730   25  55     48
731   25  56     48
732   25  57     48
733   25  58     48
734   25  59     48
735   25  60     48
736   25  61     48
737   25  62     48
738   25  63     48
739   25  64     48
740   25  65     48
741   25  66     48
742   25  67     48
743   25  68     48
744   25  69     48
745   25  70     48
746   25  71     48
747   25  72     48
748   25  73     48
749   25  74     48

In [88]:
# Group by 'uid' and 'd' and count the number of unique 't' values for each group
grouped_counts = df_filled_correctly.groupby(['uid', 'd'])['t'].nunique().reset_index(name='count_t')

# Filter out any group that doesn't have 48 unique 't' values
incomplete_groups = grouped_counts[grouped_counts['count_t'] != 48]

incomplete_groups

Empty DataFrame
Columns: [uid, d, count_t]
Index: []

In [91]:
df_filled_correctly.to_csv('my_data/data/humob/humob_data.csv', index=False)

## Checking train/test/valid dataset

In [92]:
test = pd.read_csv('test_transformed.csv')

test.head()

          d  t      x     y  categorical_id            timestamp  location_id
0  1.062419  0  129.0  70.0               0  2023-03-02 00:00:00         1267
1  1.062419  1  129.0  70.0               0  2023-03-02 00:30:00         1267
2  1.062419  2  129.0  70.0               0  2023-03-02 01:00:00         1267
3  1.062419  3  129.0  70.0               0  2023-03-02 01:30:00         1267
4  1.062419  4  129.0  70.0               0  2023-03-02 02:00:00         1267

In [96]:
train = pd.read_csv('train_transformed.csv')

train.head()

          d  t     x      y  categorical_id            timestamp  location_id
0 -1.709109  0  99.0  100.0               0  2023-01-01 00:00:00          584
1 -1.709109  1  99.0  100.0               0  2023-01-01 00:30:00          584
2 -1.709109  2  99.0  100.0               0  2023-01-01 01:00:00          584
3 -1.709109  3  99.0  100.0               0  2023-01-01 01:30:00          584
4 -1.709109  4  99.0  100.0               0  2023-01-01 02:00:00          584

In [99]:
valid = pd.read_csv('valid_transformed.csv')

valid.head()

          d  t     x      y  categorical_id            timestamp  location_id
0  0.739074  0  79.0  183.0               0  2023-02-23 00:00:00          154
1  0.739074  1  79.0  183.0               0  2023-02-23 00:30:00          154
2  0.739074  2  79.0  183.0               0  2023-02-23 01:00:00          154
3  0.739074  3  79.0  183.0               0  2023-02-23 01:30:00          154
4  0.739074  4  79.0  183.0               0  2023-02-23 02:00:00          154

In [100]:
grouped = valid.groupby(['categorical_id', 'd']).size().reset_index(name='count')

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

print(grouped)

    categorical_id         d  count
0                0  0.739074     48
1                0  0.785266     48
2                0  0.831458     48
3                0  0.877650     48
4                0  0.923843     48
5                0  0.970035     48
6                0  1.016227     48
7                1  0.739074     48
8                1  0.785266     48
9                1  0.831458     48
10               1  0.877650     48
11               1  0.923843     48
12               1  0.970035     48
13               1  1.016227     48
14               2  0.739074     48
15               2  0.785266     48
16               2  0.831458     48
17               2  0.877650     48
18               2  0.923843     48
19               2  0.970035     48
20               2  1.016227     48
21               3  0.739074     48
22               3  0.785266     48
23               3  0.831458     48
24               3  0.877650     48
25               3  0.923843     48
26               3  0.970035     48
27               3  1.016227     48
28               4  0.739074     48
29               4  0.785266     48
30               4  0.831458     48
31               4  0.877650     48
32               4  0.923843     48
33               4  0.970035     48
34               4  1.016227     48
35               5  0.739074     48
36               5  0.785266     48
37               5  0.831458     48
38               5  0.877650     48
39               5  0.923843     48
40               5  0.970035     48
41               5  1.016227     48
42               6  0.739074     48
43               6  0.785266     48
44               6  0.831458     48
45               6  0.877650     48
46               6  0.923843     48
47               6  0.970035     48
48               6  1.016227     48
49               7  0.739074     48
50               7  0.785266     48
51               7  0.831458     48
52               7  0.877650     48
53               7  0.923843     48
54               7  0.970035     48
55               7  1.016227     48
56               8  0.739074     48
57               8  0.785266     48
58               8  0.831458     48
59               8  0.877650     48
60               8  0.923843     48
61               8  0.970035     48
62               8  1.016227     48
63               9  0.739074     48
64               9  0.785266     48
65               9  0.831458     48
66               9  0.877650     48
67               9  0.923843     48
68               9  0.970035     48
69               9  1.016227     48

In [101]:
# Group by 'uid' and 'd' and count the number of unique 't' values for each group
grouped_counts = valid.groupby(['categorical_id', 'd'])['t'].nunique().reset_index(name='count_t')

# Filter out any group that doesn't have 48 unique 't' values
incomplete_groups = grouped_counts[grouped_counts['count_t'] != 48]

incomplete_groups

Empty DataFrame
Columns: [categorical_id, d, count_t]
Index: []