In [2]:
import pandas as pd
import numpy as np

## Load Raw Data

In [3]:
df = pd.read_csv('my_data/data/humob/raw_data/task1_dataset.csv')

df.head()

   uid  d   t   x   y
0    0  0   1  79  86
1    0  0   2  79  86
2    0  0   8  77  86
3    0  0   9  77  86
4    0  0  19  81  89

# Checking Raw Data

In [4]:
# describe
df.describe()

                uid             d             t             x             y
count  1.115352e+08  1.115352e+08  1.115352e+08  1.115352e+08  1.115352e+08
mean   4.917461e+04  3.740868e+01  2.596529e+01  1.569236e+02  1.210982e+02
std    2.881183e+04  2.168145e+01  1.116733e+01  1.742218e+02  1.813864e+02
min    0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00
25%    2.393200e+04  1.900000e+01  1.800000e+01  9.600000e+01  6.000000e+01
50%    4.925800e+04  3.800000e+01  2.600000e+01  1.290000e+02  8.600000e+01
75%    7.392900e+04  5.700000e+01  3.500000e+01  1.600000e+02  1.150000e+02
max    9.999900e+04  7.400000e+01  4.700000e+01  9.990000e+02  9.990000e+02

In [5]:
# group by uid, check nunique of d&t 
result = df.groupby('uid').agg({
    'd': 'nunique',
    't': 'nunique'
})

print(result)

        d   t
uid
0      64  46
1      75  48
2      72  37
3      71  48
4      75  48
...    ..  ..
99995  34  48
99996  34  48
99997  25  48
99998  45  48
99999  41  48

[100000 rows x 2 columns]

## select 20 uid without na_days randomly

In [6]:
# 按uid分组并计算d列中的唯一值数量
uid_counts = df.groupby('uid')['d'].nunique()

# 选择唯一值数量为75的uid
selected_uids = uid_counts[uid_counts == 75].index

# 过滤原始数据
filtered_df = df[df['uid'].isin(selected_uids)]

In [7]:
# filtered_df中uid的唯一数量
unique_uid_count = filtered_df['uid'].nunique()
print(unique_uid_count)

36444

In [8]:
# 计算原始数据中的unique uid数量
unique_uid_raw = df['uid'].nunique()

# 计算filtered_df中的unique uid数量
unique_uid_filtered = filtered_df['uid'].nunique()

# 计算比例
ratio = unique_uid_filtered / unique_uid_raw

print(f"The ratio of unique uids in filtered_df to the raw data is: {ratio:.2%}")

The ratio of unique uids in filtered_df to the raw data is: 36.44%

In [9]:
selected_uids = np.random.choice(filtered_df['uid'].unique(), size=min(20, len(filtered_df['uid'].unique())), replace=False)

# 筛选这20个用户的所有数据
selected_data = filtered_df[filtered_df['uid'].isin(selected_uids)]

print(selected_data)

             uid   d   t    x    y
8361859     6998   0  14  114   84
8361860     6998   0  15  114   84
8361861     6998   0  18  114   86
8361862     6998   0  19  114   84
8361863     6998   0  22  114   84
...          ...  ..  ..  ...  ...
111121140  97943  74  38  999  999
111121141  97943  74  41  999  999
111121142  97943  74  42  999  999
111121143  97943  74  45  999  999
111121144  97943  74  46  999  999

[23494 rows x 5 columns]

In [10]:
# group by uid, check nunique of d&t 
result = selected_data.groupby('uid').agg({
    'd': 'nunique',
    't': 'nunique'
})

print(result)

        d   t
uid
6998   75  48
7704   75  48
8172   75  48
12831  75  40
18099  75  33
30584  75  46
30758  75  45
32336  75  48
36738  75  48
49022  75  47
60938  75  48
65525  75  34
67619  75  48
71197  75  44
77940  75  47
78882  75  48
81234  75  47
84343  75  46
97396  75  48
97943  75  48

## Processing Selected Dataset

In [11]:
selected_data['categorical_id'] = selected_data['uid']

C:\Users\StevenYang\AppData\Local\Temp\ipykernel_4820\3168590133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_data['categorical_id'] = selected_data['uid']

## Timestamp Building

In [12]:
# 使用参考日期
reference_date = pd.Timestamp("2023-01-01")

# 将“d”和“t”转化为时间戳
selected_data["timestamp"] = reference_date + pd.to_timedelta(selected_data["d"], unit='D') + pd.to_timedelta(selected_data["t"]/2, unit='h')

selected_data.head()

C:\Users\StevenYang\AppData\Local\Temp\ipykernel_4820\387477042.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_data["timestamp"] = reference_date + pd.to_timedelta(selected_data["d"], unit='D') + pd.to_timedelta(selected_data["t"]/2, unit='h')

          uid  d   t    x   y  categorical_id           timestamp
8361859  6998  0  14  114  84            6998 2023-01-01 07:00:00
8361860  6998  0  15  114  84            6998 2023-01-01 07:30:00
8361861  6998  0  18  114  86            6998 2023-01-01 09:00:00
8361862  6998  0  19  114  84            6998 2023-01-01 09:30:00
8361863  6998  0  22  114  84            6998 2023-01-01 11:00:00

## LocationID

In [13]:
# Calculate the unique identifier for each pair of (x, y)
selected_data['location_id'] = (
    selected_data['x'] - selected_data['x'].min()) * (
    selected_data['y'].max() - selected_data['y'].min() + 1) + (
    selected_data['y'] - selected_data['y'].min()
    )+ 1

selected_data.head()

C:\Users\StevenYang\AppData\Local\Temp\ipykernel_4820\642219162.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_data['location_id'] = (

          uid  d   t    x   y  categorical_id           timestamp  location_id
8361859  6998  0  14  114  84            6998 2023-01-01 07:00:00       112971
8361860  6998  0  15  114  84            6998 2023-01-01 07:30:00       112971
8361861  6998  0  18  114  86            6998 2023-01-01 09:00:00       112973
8361862  6998  0  19  114  84            6998 2023-01-01 09:30:00       112971
8361863  6998  0  22  114  84            6998 2023-01-01 11:00:00       112971

In [14]:
# Generating the full dataframe
unique_uids = selected_data['uid'].unique()
days = range(75)
times = range(48)

index = pd.MultiIndex.from_product([unique_uids, days, times], names=['uid', 'd', 't'])
df_filled = pd.DataFrame(index=index).reset_index()

# Merging with the original dataframe
df_filled = df_filled.merge(selected_data, on=['uid', 'd', 't'], how='left')

# Filling the timestamp and categorical_id columns
df_filled['timestamp'] = pd.to_datetime('2023-01-01') + pd.to_timedelta(df_filled['d'], unit='D') + pd.to_timedelta(df_filled['t']*30, unit='m')
df_filled['categorical_id'] = df_filled['uid']

df_filled.head(10)

    uid  d  t   x   y  categorical_id           timestamp  location_id
0  6998  0  0 NaN NaN            6998 2023-01-01 00:00:00          NaN
1  6998  0  1 NaN NaN            6998 2023-01-01 00:30:00          NaN
2  6998  0  2 NaN NaN            6998 2023-01-01 01:00:00          NaN
3  6998  0  3 NaN NaN            6998 2023-01-01 01:30:00          NaN
4  6998  0  4 NaN NaN            6998 2023-01-01 02:00:00          NaN
5  6998  0  5 NaN NaN            6998 2023-01-01 02:30:00          NaN
6  6998  0  6 NaN NaN            6998 2023-01-01 03:00:00          NaN
7  6998  0  7 NaN NaN            6998 2023-01-01 03:30:00          NaN
8  6998  0  8 NaN NaN            6998 2023-01-01 04:00:00          NaN
9  6998  0  9 NaN NaN            6998 2023-01-01 04:30:00          NaN

## Filling Empty Time Points

In [15]:
# Create a copy of the data to avoid modifying the original dataframe
df_sample_reset = df_filled.copy()

df_sorted = df_sample_reset.sort_values(by=['uid', 'd', 't']).reset_index(drop=True)

# Define a function to fill the NA values for each uid and d combination
def fill_values_for_group(group):
    # Scenario 1: Fill NA values between two non-NA t values with forward fill
    group[['x', 'y', 'location_id']] = group[['x', 'y', 'location_id']].ffill()

    # Scenario 2 and 3: Fill NA values before or after a non-NA t value with backward fill
    group[['x', 'y', 'location_id']] = group[['x', 'y', 'location_id']].bfill()

    return group

# Apply the function to each uid and d combination
df_filled_correctly = df_sorted.groupby(['uid', 'd']).apply(fill_values_for_group).reset_index(drop=True)

df_filled_correctly.head(10)

    uid  d  t      x     y  categorical_id           timestamp  location_id
0  6998  0  0  114.0  84.0            6998 2023-01-01 00:00:00     112971.0
1  6998  0  1  114.0  84.0            6998 2023-01-01 00:30:00     112971.0
2  6998  0  2  114.0  84.0            6998 2023-01-01 01:00:00     112971.0
3  6998  0  3  114.0  84.0            6998 2023-01-01 01:30:00     112971.0
4  6998  0  4  114.0  84.0            6998 2023-01-01 02:00:00     112971.0
5  6998  0  5  114.0  84.0            6998 2023-01-01 02:30:00     112971.0
6  6998  0  6  114.0  84.0            6998 2023-01-01 03:00:00     112971.0
7  6998  0  7  114.0  84.0            6998 2023-01-01 03:30:00     112971.0
8  6998  0  8  114.0  84.0            6998 2023-01-01 04:00:00     112971.0
9  6998  0  9  114.0  84.0            6998 2023-01-01 04:30:00     112971.0

### Result Checking

In [16]:
grouped = df_filled_correctly.groupby(['uid', 'd']).size().reset_index(name='count')

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

print(grouped)

        uid   d  count
0      6998   0     48
1      6998   1     48
2      6998   2     48
3      6998   3     48
4      6998   4     48
5      6998   5     48
6      6998   6     48
7      6998   7     48
8      6998   8     48
9      6998   9     48
10     6998  10     48
11     6998  11     48
12     6998  12     48
13     6998  13     48
14     6998  14     48
15     6998  15     48
16     6998  16     48
17     6998  17     48
18     6998  18     48
19     6998  19     48
20     6998  20     48
21     6998  21     48
22     6998  22     48
23     6998  23     48
24     6998  24     48
25     6998  25     48
26     6998  26     48
27     6998  27     48
28     6998  28     48
29     6998  29     48
30     6998  30     48
31     6998  31     48
32     6998  32     48
33     6998  33     48
34     6998  34     48
35     6998  35     48
36     6998  36     48
37     6998  37     48
38     6998  38     48
39     6998  39     48
40     6998  40     48
41     6998  41     48
42     6998  42     48
43     6998  43     48
44     6998  44     48
45     6998  45     48
46     6998  46     48
47     6998  47     48
48     6998  48     48
49     6998  49     48
50     6998  50     48
51     6998  51     48
52     6998  52     48
53     6998  53     48
54     6998  54     48
55     6998  55     48
56     6998  56     48
57     6998  57     48
58     6998  58     48
59     6998  59     48
60     6998  60     48
61     6998  61     48
62     6998  62     48
63     6998  63     48
64     6998  64     48
65     6998  65     48
66     6998  66     48
67     6998  67     48
68     6998  68     48
69     6998  69     48
70     6998  70     48
71     6998  71     48
72     6998  72     48
73     6998  73     48
74     6998  74     48
75     7704   0     48
76     7704   1     48
77     7704   2     48
78     7704   3     48
79     7704   4     48
80     7704   5     48
81     7704   6     48
82     7704   7     48
83     7704   8     48
84     7704   9     48
85     7704  10     48
86     7704  11     48
87     7704  12     48
88     7704  13     48
89     7704  14     48
90     7704  15     48
91     7704  16     48
92     7704  17     48
93     7704  18     48
94     7704  19     48
95     7704  20     48
96     7704  21     48
97     7704  22     48
98     7704  23     48
99     7704  24     48
100    7704  25     48
101    7704  26     48
102    7704  27     48
103    7704  28     48
104    7704  29     48
105    7704  30     48
106    7704  31     48
107    7704  32     48
108    7704  33     48
109    7704  34     48
110    7704  35     48
111    7704  36     48
112    7704  37     48
113    7704  38     48
114    7704  39     48
115    7704  40     48
116    7704  41     48
117    7704  42     48
118    7704  43     48
119    7704  44     48
120    7704  45     48
121    7704  46     48
122    7704  47     48
123    7704  48     48
124    7704  49     48
125    7704  50     48
126    7704  51     48
127    7704  52     48
128    7704  53     48
129    7704  54     48
130    7704  55     48
131    7704  56     48
132    7704  57     48
133    7704  58     48
134    7704  59     48
135    7704  60     48
136    7704  61     48
137    7704  62     48
138    7704  63     48
139    7704  64     48
140    7704  65     48
141    7704  66     48
142    7704  67     48
143    7704  68     48
144    7704  69     48
145    7704  70     48
146    7704  71     48
147    7704  72     48
148    7704  73     48
149    7704  74     48
150    8172   0     48
151    8172   1     48
152    8172   2     48
153    8172   3     48
154    8172   4     48
155    8172   5     48
156    8172   6     48
157    8172   7     48
158    8172   8     48
159    8172   9     48
160    8172  10     48
161    8172  11     48
162    8172  12     48
163    8172  13     48
164    8172  14     48
165    8172  15     48
166    8172  16     48
167    8172  17     48
168    8172  18     48
169    8172  19     48
170    8172  20     48
171    8172  21     48
172    8172  22     48
173    8172  23     48
174    8172  24     48
175    8172  25     48
176    8172  26     48
177    8172  27     48
178    8172  28     48
179    8172  29     48
180    8172  30     48
181    8172  31     48
182    8172  32     48
183    8172  33     48
184    8172  34     48
185    8172  35     48
186    8172  36     48
187    8172  37     48
188    8172  38     48
189    8172  39     48
190    8172  40     48
191    8172  41     48
192    8172  42     48
193    8172  43     48
194    8172  44     48
195    8172  45     48
196    8172  46     48
197    8172  47     48
198    8172  48     48
199    8172  49     48
200    8172  50     48
201    8172  51     48
202    8172  52     48
203    8172  53     48
204    8172  54     48
205    8172  55     48
206    8172  56     48
207    8172  57     48
208    8172  58     48
209    8172  59     48
210    8172  60     48
211    8172  61     48
212    8172  62     48
213    8172  63     48
214    8172  64     48
215    8172  65     48
216    8172  66     48
217    8172  67     48
218    8172  68     48
219    8172  69     48
220    8172  70     48
221    8172  71     48
222    8172  72     48
223    8172  73     48
224    8172  74     48
225   12831   0     48
226   12831   1     48
227   12831   2     48
228   12831   3     48
229   12831   4     48
230   12831   5     48
231   12831   6     48
232   12831   7     48
233   12831   8     48
234   12831   9     48
235   12831  10     48
236   12831  11     48
237   12831  12     48
238   12831  13     48
239   12831  14     48
240   12831  15     48
241   12831  16     48
242   12831  17     48
243   12831  18     48
244   12831  19     48
245   12831  20     48
246   12831  21     48
247   12831  22     48
248   12831  23     48
249   12831  24     48
250   12831  25     48
251   12831  26     48
252   12831  27     48
253   12831  28     48
254   12831  29     48
255   12831  30     48
256   12831  31     48
257   12831  32     48
258   12831  33     48
259   12831  34     48
260   12831  35     48
261   12831  36     48
262   12831  37     48
263   12831  38     48
264   12831  39     48
265   12831  40     48
266   12831  41     48
267   12831  42     48
268   12831  43     48
269   12831  44     48
270   12831  45     48
271   12831  46     48
272   12831  47     48
273   12831  48     48
274   12831  49     48
275   12831  50     48
276   12831  51     48
277   12831  52     48
278   12831  53     48
279   12831  54     48
280   12831  55     48
281   12831  56     48
282   12831  57     48
283   12831  58     48
284   12831  59     48
285   12831  60     48
286   12831  61     48
287   12831  62     48
288   12831  63     48
289   12831  64     48
290   12831  65     48
291   12831  66     48
292   12831  67     48
293   12831  68     48
294   12831  69     48
295   12831  70     48
296   12831  71     48
297   12831  72     48
298   12831  73     48
299   12831  74     48
300   18099   0     48
301   18099   1     48
302   18099   2     48
303   18099   3     48
304   18099   4     48
305   18099   5     48
306   18099   6     48
307   18099   7     48
308   18099   8     48
309   18099   9     48
310   18099  10     48
311   18099  11     48
312   18099  12     48
313   18099  13     48
314   18099  14     48
315   18099  15     48
316   18099  16     48
317   18099  17     48
318   18099  18     48
319   18099  19     48
320   18099  20     48
321   18099  21     48
322   18099  22     48
323   18099  23     48
324   18099  24     48
325   18099  25     48
326   18099  26     48
327   18099  27     48
328   18099  28     48
329   18099  29     48
330   18099  30     48
331   18099  31     48
332   18099  32     48
333   18099  33     48
334   18099  34     48
335   18099  35     48
336   18099  36     48
337   18099  37     48
338   18099  38     48
339   18099  39     48
340   18099  40     48
341   18099  41     48
342   18099  42     48
343   18099  43     48
344   18099  44     48
345   18099  45     48
346   18099  46     48
347   18099  47     48
348   18099  48     48
349   18099  49     48
350   18099  50     48
351   18099  51     48
352   18099  52     48
353   18099  53     48
354   18099  54     48
355   18099  55     48
356   18099  56     48
357   18099  57     48
358   18099  58     48
359   18099  59     48
360   18099  60     48
361   18099  61     48
362   18099  62     48
363   18099  63     48
364   18099  64     48
365   18099  65     48
366   18099  66     48
367   18099  67     48
368   18099  68     48
369   18099  69     48
370   18099  70     48
371   18099  71     48
372   18099  72     48
373   18099  73     48
374   18099  74     48
375   30584   0     48
376   30584   1     48
377   30584   2     48
378   30584   3     48
379   30584   4     48
380   30584   5     48
381   30584   6     48
382   30584   7     48
383   30584   8     48
384   30584   9     48
385   30584  10     48
386   30584  11     48
387   30584  12     48
388   30584  13     48
389   30584  14     48
390   30584  15     48
391   30584  16     48
392   30584  17     48
393   30584  18     48
394   30584  19     48
395   30584  20     48
396   30584  21     48
397   30584  22     48
398   30584  23     48
399   30584  24     48
400   30584  25     48
401   30584  26     48
402   30584  27     48
403   30584  28     48
404   30584  29     48
405   30584  30     48
406   30584  31     48
407   30584  32     48
408   30584  33     48
409   30584  34     48
410   30584  35     48
411   30584  36     48
412   30584  37     48
413   30584  38     48
414   30584  39     48
415   30584  40     48
416   30584  41     48
417   30584  42     48
418   30584  43     48
419   30584  44     48
420   30584  45     48
421   30584  46     48
422   30584  47     48
423   30584  48     48
424   30584  49     48
425   30584  50     48
426   30584  51     48
427   30584  52     48
428   30584  53     48
429   30584  54     48
430   30584  55     48
431   30584  56     48
432   30584  57     48
433   30584  58     48
434   30584  59     48
435   30584  60     48
436   30584  61     48
437   30584  62     48
438   30584  63     48
439   30584  64     48
440   30584  65     48
441   30584  66     48
442   30584  67     48
443   30584  68     48
444   30584  69     48
445   30584  70     48
446   30584  71     48
447   30584  72     48
448   30584  73     48
449   30584  74     48
450   30758   0     48
451   30758   1     48
452   30758   2     48
453   30758   3     48
454   30758   4     48
455   30758   5     48
456   30758   6     48
457   30758   7     48
458   30758   8     48
459   30758   9     48
460   30758  10     48
461   30758  11     48
462   30758  12     48
463   30758  13     48
464   30758  14     48
465   30758  15     48
466   30758  16     48
467   30758  17     48
468   30758  18     48
469   30758  19     48
470   30758  20     48
471   30758  21     48
472   30758  22     48
473   30758  23     48
474   30758  24     48
475   30758  25     48
476   30758  26     48
477   30758  27     48
478   30758  28     48
479   30758  29     48
480   30758  30     48
481   30758  31     48
482   30758  32     48
483   30758  33     48
484   30758  34     48
485   30758  35     48
486   30758  36     48
487   30758  37     48
488   30758  38     48
489   30758  39     48
490   30758  40     48
491   30758  41     48
492   30758  42     48
493   30758  43     48
494   30758  44     48
495   30758  45     48
496   30758  46     48
497   30758  47     48
498   30758  48     48
499   30758  49     48
500   30758  50     48
501   30758  51     48
502   30758  52     48
503   30758  53     48
504   30758  54     48
505   30758  55     48
506   30758  56     48
507   30758  57     48
508   30758  58     48
509   30758  59     48
510   30758  60     48
511   30758  61     48
512   30758  62     48
513   30758  63     48
514   30758  64     48
515   30758  65     48
516   30758  66     48
517   30758  67     48
518   30758  68     48
519   30758  69     48
520   30758  70     48
521   30758  71     48
522   30758  72     48
523   30758  73     48
524   30758  74     48
525   32336   0     48
526   32336   1     48
527   32336   2     48
528   32336   3     48
529   32336   4     48
530   32336   5     48
531   32336   6     48
532   32336   7     48
533   32336   8     48
534   32336   9     48
535   32336  10     48
536   32336  11     48
537   32336  12     48
538   32336  13     48
539   32336  14     48
540   32336  15     48
541   32336  16     48
542   32336  17     48
543   32336  18     48
544   32336  19     48
545   32336  20     48
546   32336  21     48
547   32336  22     48
548   32336  23     48
549   32336  24     48
550   32336  25     48
551   32336  26     48
552   32336  27     48
553   32336  28     48
554   32336  29     48
555   32336  30     48
556   32336  31     48
557   32336  32     48
558   32336  33     48
559   32336  34     48
560   32336  35     48
561   32336  36     48
562   32336  37     48
563   32336  38     48
564   32336  39     48
565   32336  40     48
566   32336  41     48
567   32336  42     48
568   32336  43     48
569   32336  44     48
570   32336  45     48
571   32336  46     48
572   32336  47     48
573   32336  48     48
574   32336  49     48
575   32336  50     48
576   32336  51     48
577   32336  52     48
578   32336  53     48
579   32336  54     48
580   32336  55     48
581   32336  56     48
582   32336  57     48
583   32336  58     48
584   32336  59     48
585   32336  60     48
586   32336  61     48
587   32336  62     48
588   32336  63     48
589   32336  64     48
590   32336  65     48
591   32336  66     48
592   32336  67     48
593   32336  68     48
594   32336  69     48
595   32336  70     48
596   32336  71     48
597   32336  72     48
598   32336  73     48
599   32336  74     48
600   36738   0     48
601   36738   1     48
602   36738   2     48
603   36738   3     48
604   36738   4     48
605   36738   5     48
606   36738   6     48
607   36738   7     48
608   36738   8     48
609   36738   9     48
610   36738  10     48
611   36738  11     48
612   36738  12     48
613   36738  13     48
614   36738  14     48
615   36738  15     48
616   36738  16     48
617   36738  17     48
618   36738  18     48
619   36738  19     48
620   36738  20     48
621   36738  21     48
622   36738  22     48
623   36738  23     48
624   36738  24     48
625   36738  25     48
626   36738  26     48
627   36738  27     48
628   36738  28     48
629   36738  29     48
630   36738  30     48
631   36738  31     48
632   36738  32     48
633   36738  33     48
634   36738  34     48
635   36738  35     48
636   36738  36     48
637   36738  37     48
638   36738  38     48
639   36738  39     48
640   36738  40     48
641   36738  41     48
642   36738  42     48
643   36738  43     48
644   36738  44     48
645   36738  45     48
646   36738  46     48
647   36738  47     48
648   36738  48     48
649   36738  49     48
650   36738  50     48
651   36738  51     48
652   36738  52     48
653   36738  53     48
654   36738  54     48
655   36738  55     48
656   36738  56     48
657   36738  57     48
658   36738  58     48
659   36738  59     48
660   36738  60     48
661   36738  61     48
662   36738  62     48
663   36738  63     48
664   36738  64     48
665   36738  65     48
666   36738  66     48
667   36738  67     48
668   36738  68     48
669   36738  69     48
670   36738  70     48
671   36738  71     48
672   36738  72     48
673   36738  73     48
674   36738  74     48
675   49022   0     48
676   49022   1     48
677   49022   2     48
678   49022   3     48
679   49022   4     48
680   49022   5     48
681   49022   6     48
682   49022   7     48
683   49022   8     48
684   49022   9     48
685   49022  10     48
686   49022  11     48
687   49022  12     48
688   49022  13     48
689   49022  14     48
690   49022  15     48
691   49022  16     48
692   49022  17     48
693   49022  18     48
694   49022  19     48
695   49022  20     48
696   49022  21     48
697   49022  22     48
698   49022  23     48
699   49022  24     48
700   49022  25     48
701   49022  26     48
702   49022  27     48
703   49022  28     48
704   49022  29     48
705   49022  30     48
706   49022  31     48
707   49022  32     48
708   49022  33     48
709   49022  34     48
710   49022  35     48
711   49022  36     48
712   49022  37     48
713   49022  38     48
714   49022  39     48
715   49022  40     48
716   49022  41     48
717   49022  42     48
718   49022  43     48
719   49022  44     48
720   49022  45     48
721   49022  46     48
722   49022  47     48
723   49022  48     48
724   49022  49     48
725   49022  50     48
726   49022  51     48
727   49022  52     48
728   49022  53     48
729   49022  54     48
730   49022  55     48
731   49022  56     48
732   49022  57     48
733   49022  58     48
734   49022  59     48
735   49022  60     48
736   49022  61     48
737   49022  62     48
738   49022  63     48
739   49022  64     48
740   49022  65     48
741   49022  66     48
742   49022  67     48
743   49022  68     48
744   49022  69     48
745   49022  70     48
746   49022  71     48
747   49022  72     48
748   49022  73     48
749   49022  74     48
750   60938   0     48
751   60938   1     48
752   60938   2     48
753   60938   3     48
754   60938   4     48
755   60938   5     48
756   60938   6     48
757   60938   7     48
758   60938   8     48
759   60938   9     48
760   60938  10     48
761   60938  11     48
762   60938  12     48
763   60938  13     48
764   60938  14     48
765   60938  15     48
766   60938  16     48
767   60938  17     48
768   60938  18     48
769   60938  19     48
770   60938  20     48
771   60938  21     48
772   60938  22     48
773   60938  23     48
774   60938  24     48
775   60938  25     48
776   60938  26     48
777   60938  27     48
778   60938  28     48
779   60938  29     48
780   60938  30     48
781   60938  31     48
782   60938  32     48
783   60938  33     48
784   60938  34     48
785   60938  35     48
786   60938  36     48
787   60938  37     48
788   60938  38     48
789   60938  39     48
790   60938  40     48
791   60938  41     48
792   60938  42     48
793   60938  43     48
794   60938  44     48
795   60938  45     48
796   60938  46     48
797   60938  47     48
798   60938  48     48
799   60938  49     48
800   60938  50     48
801   60938  51     48
802   60938  52     48
803   60938  53     48
804   60938  54     48
805   60938  55     48
806   60938  56     48
807   60938  57     48
808   60938  58     48
809   60938  59     48
810   60938  60     48
811   60938  61     48
812   60938  62     48
813   60938  63     48
814   60938  64     48
815   60938  65     48
816   60938  66     48
817   60938  67     48
818   60938  68     48
819   60938  69     48
820   60938  70     48
821   60938  71     48
822   60938  72     48
823   60938  73     48
824   60938  74     48
825   65525   0     48
826   65525   1     48
827   65525   2     48
828   65525   3     48
829   65525   4     48
830   65525   5     48
831   65525   6     48
832   65525   7     48
833   65525   8     48
834   65525   9     48
835   65525  10     48
836   65525  11     48
837   65525  12     48
838   65525  13     48
839   65525  14     48
840   65525  15     48
841   65525  16     48
842   65525  17     48
843   65525  18     48
844   65525  19     48
845   65525  20     48
846   65525  21     48
847   65525  22     48
848   65525  23     48
849   65525  24     48
850   65525  25     48
851   65525  26     48
852   65525  27     48
853   65525  28     48
854   65525  29     48
855   65525  30     48
856   65525  31     48
857   65525  32     48
858   65525  33     48
859   65525  34     48
860   65525  35     48
861   65525  36     48
862   65525  37     48
863   65525  38     48
864   65525  39     48
865   65525  40     48
866   65525  41     48
867   65525  42     48

In [17]:
# Group by 'uid' and 'd' and count the number of unique 't' values for each group
grouped_counts = df_filled_correctly.groupby(['uid', 'd'])['t'].nunique().reset_index(name='count_t')

# Filter out any group that doesn't have 48 unique 't' values
incomplete_groups = grouped_counts[grouped_counts['count_t'] != 48]

incomplete_groups

Empty DataFrame
Columns: [uid, d, count_t]
Index: []

In [19]:
# output new dataset

df_filled_correctly.to_csv('my_data/data/humob/humob_data.csv', index=False)